@page
@model HQ_Webb.Pages_Rough.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rough</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rough.PlayerName" class="control-label"></label>
                <input asp-for="Rough.PlayerName" class="form-control" />
                <span asp-validation-for="Rough.PlayerName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Rough.SpellCaster" /> @Html.DisplayNameFor(model => model.Rough.SpellCaster)
                </label>
            </div>
            <input type="hidden" asp-for="Rough.Id" />
            <div class="form-group">
                <label asp-for="Rough.CharacterName" class="control-label"></label>
                <input asp-for="Rough.CharacterName" class="form-control" />
                <span asp-validation-for="Rough.CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rough.Attack" class="control-label"></label>
                <input asp-for="Rough.Attack" class="form-control" />
                <span asp-validation-for="Rough.Attack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rough.Defence" class="control-label"></label>
                <input asp-for="Rough.Defence" class="form-control" />
                <span asp-validation-for="Rough.Defence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rough.MaxBody" class="control-label"></label>
                <input asp-for="Rough.MaxBody" class="form-control" />
                <span asp-validation-for="Rough.MaxBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rough.MaxMind" class="control-label"></label>
                <input asp-for="Rough.MaxMind" class="form-control" />
                <span asp-validation-for="Rough.MaxMind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rough.CurrentBody" class="control-label"></label>
                <input asp-for="Rough.CurrentBody" class="form-control" />
                <span asp-validation-for="Rough.CurrentBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rough.CurrentMind" class="control-label"></label>
                <input asp-for="Rough.CurrentMind" class="form-control" />
                <span asp-validation-for="Rough.CurrentMind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rough.Gold" class="control-label"></label>
                <input asp-for="Rough.Gold" class="form-control" />
                <span asp-validation-for="Rough.Gold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Heroes/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
